In [ ]:
print("파이썬 프로그래밍")

# 변수란?

In [ ]:
a = 100
b = 200
print(a)
print(b)

In [ ]:
c = a + b
print(c)

In [ ]:
num1 = 100
num2 = 50
result = num1 + num2

In [ ]:
result = num1 + 200

In [ ]:
100 = num1 + num2

In [ ]:
str1 = "한국철도공사"
str2 = "파이팅!"
print(str1)
print(str2)

In [ ]:
str3 = str1 + " " + str2
print(str3)

In [ ]:
result = str1 - str2
print(result)

# 변수 이릅 짓기

In [ ]:
a = 100
a3 = 300
a3b2 = 200
print(a)
print(a3)
print(a3b2)

In [ ]:
3aa = 100

In [ ]:
input_number = 100
print(input_number)

In [ ]:
mynum = 100
Mynum = 200
myNum = 300
print(mynum)
print(Mynum)
print(myNum)

# 조건문

In [ ]:
a = 99
if a < 100 :
  print("100보다 작군요.")

In [ ]:
a = 200
if a < 100 :
  print("100보다 작군요.")
else:
  print("100보다 크군요.")

In [ ]:
a = 75

if a > 50:
    if a < 100:
        print("50보다 크고 100보다 작군요.")
    else:
        print("100보다 크군요.")
else:
    print("50보다 작군요.")

In [ ]:
score = int(input("점수를 입력하세요 : "))
if score >= 90 :
    print("A")
elif score >= 80 :
    print("B")
elif score >= 70 :
    print("C")
elif score >= 60 :
    print("D")
else :
    print("F")
print("학점입니다. ^^")

# 반복문

## for

In [ ]:
print("반복문 for를 공부중입니다.")
print("반복문 for를 공부중입니다.")
print("반복문 for를 공부중입니다.")

In [ ]:
for i in range(0, 3, 1) :
     print("반복문 for을 공부중입니다.")

In [ ]:
for i in range(0, 3, 1) :
     print("%d: 반복문 for을 공부중입니다." % i)

In [ ]:
print("구구단을 외자~")

for i in range(1, 10, 1) :
  for k in range(1, 10, 1) :
     print("%d x %d = %d" % (i, k, (i*k)))

## while

In [ ]:
i = 0
while i < 3 :
  print("%d: 반복문 while을 공부중입니다." % i)
  i = i + 1

In [ ]:
while True:
  print("무한 반복입니다.")
# 실행시 무한 반복하므로 왼쪽의 ㅁ를 눌러 중지해주세요.
# 누르시면 잠시후 멈춥니다.
# 다만 실행시 출력문이 길어지니 실행 안시키시는게 좋습니다!!

In [ ]:
## break

In [ ]:
for i in range(1, 100, 1):
  print("%d 번째 반복 중입니다." % i)
  break

In [ ]:
## continue

In [ ]:
for i in range(1, 5, 1):
  if i == 3:
    continue
  print("%d 번째 반복 중입니다." % i)

# 주석

In [ ]:
# 주석을 다는 방법 첫번째 입니다.
print("조금만 더 파이팅입니다!!")

In [ ]:
'''
이런 방식을 사용하면
여러 줄을 주석으로 처리할 수 있습니다.
'''
print("주석 처리 확인")

In [ ]:
"""
이런 방식을 사용하면
여러 줄을 주석으로 처리할 수 있습니다.
"""
print("주석 처리 확인")

# 리스트

In [ ]:
arr = [1,2,3,4,5]
print(arr)

In [ ]:
arr1 = [1,2,3,4]
arr2 = [5,6,7,8]
print(arr1 + arr2)

In [ ]:
arr = [1,2,3]
arr.append(4)
print(arr)

In [ ]:
arr1 = [1,2,3,4]
print(arr[2])

In [ ]:
arr1 = [1,2,3,4]
print(arr[-1])
print(arr[-3])

In [ ]:
arr1 = [1,2,3,4]
print(arr[1:3])

In [ ]:
arr = [1,2,3,4]
arr[1] = 5
print(arr)

In [ ]:
arr = [1,2,3,4]
arr.insert(1, 7)
print(arr)

In [ ]:
arr = [1,2,3,4]
arr.remove(2)
print(arr)